body {
    font-family: papyrus, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#editor-container {
    display: flex;
    flex-direction: column;
}

#shader-editor {
    width: 400px;
    height: 512px;
}

#canvas-container canvas {
    border: 1px solid black;
    image-rendering: pixelated;
}
